In [16]:
import pandas as pd
import numpy as np
import requests, time
from pathlib import Path
from datetime import datetime
from sklearn.metrics import mean_squared_error
import sys
sys.path.append("../")
from Toufic.functions import *
%matplotlib inline

In [17]:
MSFT_df = pd.read_csv(
    Path('data/stocks_history.csv'),
    index_col='Unnamed: 0',
    infer_datetime_format=True,
    parse_dates=True
)
dropped_columns = [
    'MSFT_open',
    'MSFT_high',
    'MSFT_low',
    'AMD_close',
    'AMD_open',
    'AMD_high',
    'AMD_low',
    'TSLA_close',
    'TSLA_open',
    'TSLA_high',
    'TSLA_low',
    'JNJ_close',
    'JNJ_open',
    'JNJ_high',
    'JNJ_low',
    'REGN_close',
    'REGN_open',
    'REGN_high',
    'REGN_low',
    'GILD_close',
    'GILD_open',
    'GILD_high',
    'GILD_low'
]
MSFT_df.drop(columns=dropped_columns, inplace=True)
MSFT_df.dropna(inplace=True)
MSFT_df.columns = ['Close']
MSFT_df.head()

            Close
2010-06-29  23.31
2010-06-30  23.01
2010-07-01  23.16
2010-07-02  23.27
2010-07-06  23.82

In [18]:
MSFT_returns = MSFT_df.pct_change()
MSFT_returns.tail()

               Close
2020-06-30  0.025549
2020-07-01  0.005847
2020-07-02  0.007621
2020-07-06  0.021526
2020-07-07 -0.011628

In [19]:
import pickle
regression_model_path = 'Steffen/pickle_regression_model_2.pkl'
regression_model = pickle.load(open(regression_model_path, 'rb'))
regression_df = regression_model.predict(MSFT_returns.loc['2020-01-02':,:])
regression_df = pd.DataFrame(regression_df, index=MSFT_returns.loc['2020-01-02':,:].index, columns=['MSFT_regression'])
regression_df.tail()

            MSFT_regression
2020-06-30        -0.009086
2020-07-01         0.000107
2020-07-02        -0.000720
2020-07-06        -0.007209
2020-07-07         0.008261

In [20]:
regression_df = ((regression_df + 1).cumprod() - 1)
regression_df.tail()

            MSFT_regression
2020-06-30         0.203350
2020-07-01         0.203478
2020-07-02         0.202611
2020-07-06         0.193942
2020-07-07         0.203805