In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
import alpaca_trade_api as tradeapi
from datetime import datetime, timedelta, date
import pandas as pd
import os

In [3]:
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
# from pathlib import Path
# csvpath = Path('../Resources/....csv')
# df = pd.read_csv(csvpath, parse_dates=True, index_col='Date')

In [5]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# api = tradeapi.REST()
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [6]:
timeframe = '1D' #1Min, 5Min, 15Min, 1D
tickers = ['MSFT', 'AAPL', 'BRK.B']
limit = '1000' #between 1 and 1000. default is 100.
end_date = date.today()
start_date = end_date - timedelta(365*5)

In [8]:
alpaca_df = api.get_barset(
    tickers,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

alpaca_df.head()

                             AAPL                                     BRK.B  \
                             open    high     low   close    volume    open
time
2020-02-12 00:00:00-05:00  321.62  327.21  321.47  327.20  24425223  227.60
2020-02-13 00:00:00-05:00  324.19  326.22  323.35  324.91  21088852  226.53
2020-02-14 00:00:00-05:00  324.74  325.98  322.85  324.94  17502899  226.49
2020-02-18 00:00:00-05:00  315.36  319.75  314.61  319.00  34217504  226.39
2020-02-19 00:00:00-05:00  320.00  324.57  320.00  323.62  19929550  227.68

                                                               MSFT          \
                             high     low   close   volume     open    high
time
2020-02-12 00:00:00-05:00  228.84  226.91  227.46  2743038  185.580  185.85
2020-02-13 00:00:00-05:00  227.40  226.10  226.51  1917679  183.080  186.23
2020-02-14 00:00:00-05:00  227.14  225.52  226.74  1978647  183.250  185.41
2020-02-18 00:00:00-05:00  227.38  225.27  226.83  2670514  185.605  187.70
2020-02-19 00:00:00-05:00  229.71  226.93  229.26  2474460  188.060  188.18


                               low   close    volume
time
2020-02-12 00:00:00-05:00  181.850  184.72  41959355
2020-02-13 00:00:00-05:00  182.872  183.76  32321759
2020-02-14 00:00:00-05:00  182.650  185.35  19699788
2020-02-18 00:00:00-05:00  184.340  187.22  25137072
2020-02-19 00:00:00-05:00  186.470  187.28  23002237