In [56]:
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import pandas as pd
import pandas as pd
from pathlib import Path
%matplotlib inline

In [57]:
# Import stock prices with alpaca (maybe focus on adj close instead of close)

In [58]:
df = pd.read_csv(
    Path('../data/stocks_history.csv'),
    index_col='Unnamed: 0',
    infer_datetime_format=True,
    parse_dates=True
)
df.head()

,MSFT_open,MSFT_high,MSFT_low,MSFT_close,AMD_open,AMD_high,AMD_low,AMD_close,TSLA_open,TSLA_high,...,JNJ_low,JNJ_close,REGN_open,REGN_high,REGN_low,REGN_close,GILD_open,GILD_high,GILD_low,GILD_close
2010-06-29,24.13,24.20,23.110,23.31,7.93,7.93,7.41,7.48,19.00,25.0000,...,58.680,59.24,23.67,23.95,22.86,22.98,35.40,35.61,34.740,34.97
2010-06-30,23.30,23.68,22.950,23.01,7.58,7.65,7.30,7.32,25.79,30.4192,...,58.940,59.06,23.05,23.47,22.32,22.32,34.83,35.13,34.260,34.28
2010-07-01,23.09,23.32,22.730,23.16,7.35,7.53,7.10,7.39,25.00,25.9200,...,58.650,59.07,22.31,22.37,20.45,20.79,34.24,34.27,33.300,34.14
2010-07-02,23.36,23.48,23.050,23.27,7.45,7.48,7.02,7.17,23.00,23.1000,...,58.850,59.08,21.06,21.88,20.75,21.61,34.38,35.16,34.180,34.87
2010-07-06,23.70,24.09,23.584,23.82,7.40,7.42,6.96,7.04,20.00,20.0000,...,58.669,59.08,22.03,22.03,21.16,21.36,35.11,35.42,34.415,34.77

In [59]:
df_MSFT = df[['MSFT_close']].copy()

In [60]:
# A variable for predicting 'n' days out into the future
forecast_out = 10 
#Create another column (the target ) shifted 'n' units up
df_MSFT['Prediction'] = df_MSFT[['MSFT_close']].shift(-forecast_out)

In [61]:
df_MSFT.tail()

            MSFT_close  Prediction
2020-06-30      203.51         NaN
2020-07-01      204.70         NaN
2020-07-02      206.26         NaN
2020-07-06      210.70         NaN
2020-07-07      208.25         NaN

In [62]:
### Create the independent data set (X)  #######
# Convert the dataframe to a numpy array
X = np.array(df_MSFT.drop(['Prediction'],1))

#Remove the last '30' rows
X = X[:-forecast_out]
print(X)

[[ 23.31]
 [ 23.01]
 [ 23.16]
 ...
 [196.32]
 [195.15]
 [200.57]]

In [63]:
### Create the dependent data set (y)  #####
# Convert the dataframe to a numpy array 
y = np.array(df_MSFT['Prediction'])
# Get all of the y values except the last '30' rows
y = y[:-forecast_out]
print(y)

[ 25.44  25.51  24.89 ... 206.26 210.7  208.25]

In [64]:
# Split the data into 80% training and 20% testing
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [65]:
# # Create and train the Support Vector Machine (Regressor) 
# svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1) 
# svr_rbf.fit(x_train, y_train)

In [66]:
# # Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# # The best possible score is 1.0
# svm_confidence = svr_rbf.score(x_test, y_test)
# print("svm confidence: ", svm_confidence)

In [67]:
# Create and train the Linear Regression  Model
model = LinearRegression()
# Train the model
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
# Testing Model: Score returns the coefficient of determination R^2 of the prediction. 
# The best possible score is 1.0
model_confidence = model.score(x_test, y_test)
print("model confidence: ", model_confidence)

model confidence:  0.9938425620158298

In [72]:
# Set x_forecast equal to the last 30 rows of the original data set from Adj. Close column
x_forecast = np.array(df_MSFT.drop(['Prediction'],1))[-forecast_out:]
x_forecast

array([[201.91],
       [197.84],
       [200.34],
       [196.33],
       [198.44],
       [203.51],
       [204.7 ],
       [206.26],
       [210.7 ],
       [208.25]])

In [73]:
predictions = model.predict(x_forecast)
predictions

array([204.52012042, 200.39260138, 202.92793248, 198.86126139,
       201.00108084, 206.14273233, 207.34954993, 208.93159654,
       213.43434459, 210.9497201 ])

In [74]:
# svm_prediction = svr_rbf.predict(x_forecast)
# svm_prediction